#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
    #content-desktop {display: none;}
    #content-mobile {display: block;}
}

.title {
    font-family: 'Poiret One', cursive;
    font-size: 200%;
}

.feed-item-title {
    margin: 10px 20px 0px 20px;
    font-size: 17px;
}

.feed-item-desc {
    margin: 0px 20px 10px 20px;
    padding-bottom: 10px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #dee2e6;
}

.demo {
    width: 100%;
    /* border: 1px solid black; */
    /* border-radius: 15px; */
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}